<form role='form' name="userForm" novalidate>
    <div class="top">
        <div class="img_container">
            <img src="images/form_logo.png" alt="">
        </div>
        <span>Connexion</span>
    </div>
    <div class="middle">
        <div class="input_container">
            <input type="text" name="name" ng-minlength="3" ng-maxlength="20" required placeholder="Username or Email" ng-model="logForm.name">
            <div ng-messages="userForm.name.$error" role="alert">
                <!--<div class="error" ng-message="required">You did not enter a field</div>-->
                <span class="error" ng-message="minlength">Your Username/Email is too short</span>
                <span class="error" ng-message="maxlength">Your Username/Email is too long</span>
            </div>
        </div>
        <div class="input_container">
            <input type="password" name="password" ng-minlength="3" placeholder="Password" ng-model="logForm.password">
            <div ng-messages="userForm.password.$error" role="alert">
                <!--<div class="error" ng-message="required">You did not enter a field</div>-->
                <span class="error" ng-message="minlength">Your Password is too short</span>
            </div>
        </div>
        <span class="error" ng-show="login.errorLog">Wrong Username or Password</span>
    </div>
    <div class="bottom">
        <!--<div class="input_container">-->
            <!--<input type="checkbox" id="confirm" name="confirm">-->
            <!--<label for="confirm" ng-click="check = !check">-->
                <!--<img src="images/radio_default.png" ng-show="check" alt="">-->
                <!--<img src="images/radio_checked.png" ng-show="!check" alt="">-->
                <!--<span>Se souvenir de moi</span>-->
            <!--</label>-->
        <!--</div>-->
        <div>
            <input type="submit" class="button" ng-click="login.validationName(logForm.name,logForm.password)" value="Connexion">
        </div>
        <span>Don’t Have an account?</span><a href="#"> Get started!</a><br>
        <a href="/forgot_pass">Forgot Password?</a>
    </div>
</form>