<form role='form' name="userForm" novalidate>
    <div class="top">
        <div class="img_container">
            <img src="assets/images/form_logo.png" alt="">
        </div>
        <span>Forgot your password?</span>
        <span class="supstr">Enter your email address below and we'll get you back on track.</span>
    </div>
    <div class="middle">
        <div class="input_container">
            <input type="text" name="forgotName" ng-minlength="3" required placeholder="Username or Email" ng-model="forgotForm.forgotName">
            <span class="error" ng-show="forgotPass.validName">Wrong Username or Email</span>
            <div ng-messages="userForm.forgotName.$error" role="alert">
                <!--<div class="error" ng-message="required">You did not enter a field</div>-->
                <span class="error" ng-message="minlength">Your Password is too short</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="input_container">
            <input type="checkbox" id="confirm" name="confirm">
            <!--<label for="confirm" ng-click="check = !check">-->
                <!--<img src="images/radio_default.png" ng-show="check" alt="">-->
                <!--<img src="images/radio_checked.png" ng-show="!check" alt="">-->
                <!--<span>Se souvenir de moi</span>-->
            <!--</label>-->
        </div>
        <div>
            <input type="submit" class="button" ng-click="forgotPass.forgotValid(forgotForm.forgotName)" value="Valider">
        </div>
        <a href="/">Back to sign in</a>
    </div>
</form>

