@font-face {
  font-family: "Font Awesome";
  src: url('../fonts/fontawesome-webfont.ttf');
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: "Roboto Regular";
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Montserrat Regular";
  src: url('../fonts/Montserrat-Regular.ttf');
}




