@import "fonts";
@import "variables";
@import "mixins";

body {
  font: 100%/1.5em $robotoCondensed,Arial sans-serif;
  letter-spacing: 2px;
  color: $black;
  margin: 0 auto;
  padding: 0;
}

input, button {
  //border-radius: 0!important;
  outline: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  @include fontStyle($robotoRegular, 0.9375em, #26293d, 100, none);
  //padding: 10px 0;
  //text-indent: 10px;
}

a {
  outline: none!important;
  text-decoration: none;
  color: #0082d5;
  display: block;
}

a:active {
  border: none;
}

h1, h3, h2, h1, h4, p {
  margin: 0;
}

ul,menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  @include trans(opacity);
  //opacity: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  height: auto;
}

.container-max {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: auto;
}

.left, .right {
  width: 50%;
  float: left;
}

                                                        //header

header {
  backface-visibility: hidden;
  box-shadow:  0 2px 10px -2px rgba(0, 0, 0, 0.16);
  width: 100%;
  background: #10111a;
  z-index: 10;
  position: fixed;
  top: 0;

  .col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
  }


  .img_container {
    max-width: 120px;
    width: 100%;
  }
}

                                                        //content

.form {
  min-height: 800px;
  padding-top: 85px;
  padding-bottom: 80px;
  margin-top: 80px;
  background: #f8f7fa;

  input[type=submit] {
    border: none;
  }
}

figure {
  border-radius: 5px;
  margin: 0 auto;
  background: #ffffff;
  max-width: 370px;
  width: 100%;

  .top, .middle, .bottom {
    padding-left: 30px;
    padding-right: 30px;
  }

  .top {
    padding-top: 50px;
    min-height: 180px;

    span {
      @include fontStyle($robotoRegular, 1.5em, #26293d, 100, none);
      display: block;
      text-align: center;
      text-transform: uppercase;
    }

    .supstr {
      margin: 35px 30px;
      font-size: 0.875em;
      color: #54657e;
      text-transform: none;
    }

    .img_container {
      margin: 0 auto 15px;
      max-width: 60px;
      width: 100%;
    }
  }

  .middle {

    .input_container {
      margin-bottom: 15px;

      &:nth-child(2) {

        input {
          //font-size: 30px;
        }
      }
    }

    input {
      text-align: center;
      background: #f8f7fa;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #e1e2e6;
      width: 100%;
      transition: all .2s ease-in-out;

      &::-webkit-input-placeholder {
        color:#8493a8;
        @include trans(text-indent);
      }
      &::-moz-placeholder          {
        color:#8493a8;
        @include trans(text-indent);
      }
      &:-moz-placeholder           {
        color:#8493a8;
        @include trans(text-indent);
      }
      &:-ms-input-placeholder      {
        color:#8493a8;
        @include trans(text-indent);
      }

      &:focus::-webkit-input-placeholder {
        text-indent:-550px;
      }
      &:focus::-moz-placeholder {
        text-indent:-550px;
      }
      &:focus:-moz-placeholder {
        text-indent:-550px;
      }
      &:focus:-ms-input-placeholder {
        text-indent:-550px;
      }
    }

    input:focus {
      background: #ffffff;
      border: 1px solid #1fc8ec;
      width: 100%;
    }
  }

  .bottom {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 24px;

    input[type=checkbox] {
      display: none;
    }

    label {
      cursor: pointer;

      img {
        margin-right: 5px;
        width: 25px;
      }

      span, img {
        display: inline;
        vertical-align: top;
        color: #54657e;
        letter-spacing: 0;
        font-size: 0.9375em;
        font-family: $robotoRegular;
      }
    }
  }

  a, span {
    display: inline-block;
    letter-spacing: 0;
  }
}

.button {
  cursor: pointer;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 21px auto 46px;
  width: 200px;
  height: 45px;
  background: #1fc8ec;
  border-radius: 22.5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $robotoRegular;
  transition: all ease-in-out .2s;

  &:hover {
    background: #1d88a8;
  }
}


                                                        //footer

footer {
  padding-top: 30px;
  min-height: 138px;
  background: #2e3141;
  font-family: $MontserratRegular;
  letter-spacing: 0;

  li {
    height: 25px;
  }

  .img_container {
    margin: 0 auto;
    max-width: 89px;
  }

  p {
    color: #686f8f;
    font-size: 0.6875em;
    line-height: 1em;
  }


  a {
    vertical-align: top;
    font-size: 0.6875em;
    color: #6B6D75;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.3636em;
    display: inline-block;
    margin-bottom: 10px;
  }
}

#icon {
  max-width: 15px;
  display: inline;
}

#icon_a {
  margin-top: 3px;
}

.massage {
  padding: 30px 0;
  font-size: 1.5em;
  color: #6B6D75;
  text-align: center;
}

.massage.success {
  color: #2ab282;
}

.massage.failed {
  color: #b22a2a;
}

.error {
  text-align: center;
  color: #b22a2a;
  display: block;
  margin-top: 5px;
}

.back_link {
  text-align: center;
  margin-top: 5px;
  display: block;
  padding-bottom: 10px;
}

.ng-invalid-minlength {
  border: 1px solid #b22a2a!important;
}

form.ng-invalid-minlength {
  border: none!important;
}

.ng-valid.ng-touched {
  border: 1px solid #55b278 !important;
}

form.ng-valid.ng-touched {
  border: none!important;
}


                                                        //plugin change


                                                        //menu


                                                        //toggle


                                                        //responsive


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

  footer {
    text-align: center;

    .col-sm-2, .col-sm-3 {
      margin-bottom: 30px;
    }
  }

}

@media screen and (max-width: 576px) {


}
