@font-face {
  font-family: "Font Awesome";
  src: url('../../../assest/fonts/fontawesome-webfont.ttf');
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../../../assest/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: "Roboto Regular";
  src: url('../../../assest/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Montserrat Regular";
  src: url('../../../assest/fonts/Montserrat-Regular.ttf');
}




