@mixin fontStyle($fontN, $fontS, $fontC, $fontW, $fontT) {
  font-family: $fontN;
  font-size: $fontS;
  color: $fontC;
  font-weight: $fontW;
  text-transform: $fontT;
}

@mixin center($position, $top, $left){
  position: $position;
  top: $top;
  left: $left;
  transform: translate(-$left, -$top);
}

@mixin trans($object){
  transition: $object ease-in-out .15s;
}