$black: #000000;
$white: #ffffff;
$grey: #555555;
$l-grey: #999999;
$orange: #ff4f00;
$h-orange: #ff7f50;
$dark-blue: #001725;
$shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
$shadow-b: 0 2px 10px 3px #4e4e4e;
$shadow-h: 0 2px 15px 5px;
$shadow-t: 1px 1px 2px $black;
$awesome: "Font Awesome", sans-serif;
$robotoCondensed: "Roboto Condensed", sans-serif;
$robotoRegular: "Roboto Regular", sans-serif;
$MontserratRegular: "Montserrat Regular", sans-serif;
$animation: all ease-in-out .15s;
$animation-slow: all ease-in-out .4s;
$animation-slowest: all ease-in-out .5s;
$ib: inline-block;
$b: block;